@import url(Common.scss);

/* main section */
.main_section > header{
height: 32px;
line-height: 32px;
padding-left: 15px;
border: 1px solid #ebebeb;
border-left: none;
border-right: none;
color: #b6b5b1;
}
